<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/moshe2091/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="moshe2091" />
            <add key="ClearTextPassword" value="cb8f8071cd40e7bed51350fc5126065ad14a365f" />
        </github>
    </packageSourceCredentials>
</configuration>





